 body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: auto;
        padding-bottom: 10px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    img{
    	display: block;
 		margin-left: auto;
 		margin-right: auto;
    	border-image: 5px;
    	border-radius: 20px;
    	height: 120px;
    	width: 120px;
    }
    
    .sign {
        padding-top: 3px;
        color: #ff3f02;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    
    .un {
    width: 76%;
    color: rgb(34,56,78);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 10px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    .wrapper{
    margin-top: 10px;
    text-align: center;
}
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #fd5e086b;
        padding-top: 15px;
    }
    button {
    text-orientation: center;
    border: none;
    outline: none;
    padding-top: 150px;
    padding: 20px 50px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
    cursor: pointer;
    color:#abc
    background-color: #bcd;
}
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #fd5e086b;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        

